

.open-sans-lekh {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.dark-2{
    color: #474747;
}
.secondary-bg{
    background-color: #fff8f3;
}
.r-color{
    color: #fd6e0a;
}
.btn-1{
    background-color: #fd6e0a;
    font-weight: bold;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;

}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}
.nav-tittle{
    font-weight: 800;
    font-size: 45px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
}
.majhkhaner-kotha{
    font-size: 35px;
    font-weight: bold;
    color: rgb(38, 38, 38);
}
.header{
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}
nav li a{
    text-decoration: none;
    font-size: 20px;
}
.banner-greet{
    font-size: 45px;
    font-weight: 600;
}
.banner-tittle{
    font-weight: bold;
    font-size: 85px;
}
.banner-content{
    max-width: 580px;
}
.banner-description{
    font-weight: 600;
    font-size: 18px;
}
.banner-profile-pic{
    width: 580px;
}
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 220px;
}
.majhkhaner-beshikotha{
    font-size: 18px;
    color: #757575;
}
.majhkhane{
    border-radius: 10px;
    padding: 100px 150px;
    text-align: center;
}
main{
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    margin-top: 130px;
}
.majhkhaner-items{
    border-radius: 50px;
    padding: 20px 35px;
    text-align: center;
    margin-top: 130px;
    margin-bottom: 130px;
}
.item-description{
    font-weight: 600;
}
.majhkhaner-items{
    display: flex;
    justify-content: space-around;
}
.text-center{
    text-align: center;
}
.skill-container{
    display: flex;
    gap: 24px;
}
.skill{
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 6px 50px 0px rgb(181, 191, 204);
}
.resume-container{
    display: flex;
    gap: 28px;
}
.experience-sub-title{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}
.experience-description, .experience-sub-title{
    color: #757575;
}
.resume hr{
    margin: 30px 10px;
}
.resume-doenload-cv{
    margin: 50px;
}
footer{
    padding: 130px 230px;
    display: flex;
    gap: 100px;
}
.footer-colum{
    width: 50%;
}
footer input[type="text"], footer input[type="email"], footer textarea{
    height: 64px;
    border-radius: 10px;
    background-color: white;
    display: block;
    width: 100%; 
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
}